h3 {
    font-size: 0.9rem; /* Ajusta el tamaño del texto */
    margin-top: 0.2rem; /* Espacio superior más pequeño */
    margin-bottom: 0.2rem; /* Espacio inferior más pequeño */
    line-height: 1.1; /* Ajusta el interlineado */
}
