h3 {
    font-size: 0.9rem; /* Ajusta el tamaño del texto */
    margin-top: 0.2rem; /* Espacio superior más pequeño */
    margin-bottom: 0.2rem; /* Espacio inferior más pequeño */
    line-height: 1.1; /* Ajusta el interlineado */
}

img[alt=fig1]{
    width: 600px; 
    height: 300px;
}

img[alt=fig2]{
    width: 800px; 
    height: 300px;
}

img[alt=fig3]{
    width: 500px;
    height: 200px; 
}

img[alt=fig4]{
    width: 700px;
    height: 200px;
}

img[alt=fig5]{
    width: 600px;
    height: 200px;
}

img[alt=fig6]{
    width: 700px;
    height: 400px;
}